@{
    ViewData["Title"] = "Home Page";
}

<center>
    <header>
        <h1 class="display-4">Welcome To Utah Crashes</h1>
        <h2>Your Encyclopedia for Every Traffic trouble</h2>
        <h3> (Y.E.E.T.)</h3>
        <img src="~/img/YEET.png" height="300" width="250" />
    </header>
    <body class="bgimage">
        <br />
        <h3 class="text-white">A landing page that explains to the user what the site is and what it does</h3>
        <h3 class="text-white">Learn about Utah's battle to reduce the number of automobile accidents</h3>
    </body>
</center>
