/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*Accordion*/
.accordion_two_section {
    background: #f7f7f7
}

.ptb-100 {
    padding-top: 20px;
    padding-bottom: 20px
    /* was 100*/
}

.accordionTwo .panel-group {
    margin-bottom: 0
}

.accordionTwo .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 0
}

.accordionTwo .panel-default {
    border: 0
}

    .accordionTwo .panel-default > .panel-heading {
        background: #4385f5;
        border-radius: 0px;
        border-color: #4385f5
    }

.accordion-wrap .panel-heading {
    padding: 0px;
    border-radius: 0px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.accordionTwo .panel .panel-heading a.collapsed {
    color: #999999;
    background-color: #fff;
    display: block;
    padding: 12px 20px
}

.accordionTwo .panel .panel-heading a {
    display: block;
    padding: 12px 20px;
    color: #fff
}

.accordion-wrap .panel .panel-heading a {
    font-size: 14px
}

.accordionTwo .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 20px 20px 20px 30px;
    background: #4385f5;
    color: #fff;
    font-size: 14px;
    line-height: 24px
}

.accordionTwo .panel .panel-heading a:after {
    content: "\2212";
    color: #4285f4;
    background: #fff
}

.accordionTwo .panel .panel-heading a:after,
.accordionTwo .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 14px;
    float: right;
    width: 21px;
    display: block;
    height: 21px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
    color: #FFF
}

.accordionTwo .panel .panel-heading a.collapsed:after {
    content: "\2b";
    color: #fff;
    background-color: #DADADA
}

.accordionTwo .panel .panel-heading a:after {
    content: "\2212";
    color: #4285f4;
    background: #dadada
}

a:link {
    text-decoration: none
}

/*END Accordion*/

/*Accordion V2*/
.accordion {
    margin-top: 60px; /* Add space above accordion */
}

    .accordion .card {
        border-radius: 0;
        border-width: 1px 0 1px 0;
    }

        .accordion .card:first-child {
            border-top: none;
        }

        .accordion .card .card-header {
            background: #fff;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 0;
            margin-bottom: -2px;
            font-family: "Roboto", sans-serif;
        }

    .accordion .card-header:hover {
        background: #f8f8f8;
    }

    .accordion .card-header h2 span {
        float: left;
        margin-top: 10px;
    }

    .accordion .card-header .btn {
        font-size: 1.04rem;
        font-weight: 500;
        width: 100%;
        text-align: left;
        position: relative;
        top: -2px;
    }

    .accordion .card-header i {
        float: right;
        font-size: 1.3rem;
        font-weight: bold;
        position: relative;
        top: 5px;
    }

    .accordion .card-header button:hover {
        color: #23384e;
    }

    .accordion .card-body {
        background: #eaeaea;
        color: #595959;
    }

    .accordion .highlight {
        color: #fff;
        background: #202d3c !important;
    }

</style >
/*End of Accordion V2*/